
.expo img {
    display: block;
    width: 25%;
}
.expo {
    display: flex;
    width: 100vw; 
}
.expo article {
    width: 100vw;
}
.expo section {
    margin: 0 3em;
}
#expo1 {
    padding: 2em;
    background-color: rgba(200, 197, 197, 0.237);
}
#expo2 {
    padding: 2em;
    background-color: rgba(200, 197, 197, 0.237);
}
.expo h2{
    margin: 1em;
}