.artsection{
   display: grid;
   grid-template-columns: 0fr 2fr;
   background-color: var(--background-color);
}
h2{
    text-align: center;
}
.art-gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 50rem;
    margin-inline: auto;
    
}
.art-gallery > .artworks {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    transition: scale 350ms ease, opacity 350ms linear;
}
.art-gallery:has(figure:hover) figure:not(:hover){
    scale: .8;
    opacity: .5;
}
figcaption {
    visibility: hidden;
}

.art-gallery:has(figure:hover) figcaption{
    visibility:visible;
    }
.art-gallery:has(figure:hover) figure:not(:hover) figcaption{
        visibility: hidden;
    }


.art-gallery:has(figure:hover) figure{
scale: 1.2;
}

.textsection{
    align-self: start;
   position: sticky;
   margin-top: 10em;
   top: 10em;
   margin-left: 1rem;
   width: 75%;
}

main ol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
} 
main ol li{
    list-style: none;
    background-color: #eee;
    padding: 12px 20px;
    margin: 5px;
    cursor: pointer;
}
main ol li.active{
    background: darkgray;
}
.artworks.hide{
    display: none;
}

.panelwrapper{
    display: flex;
}
.main{
    flex-grow: 1;
}
.side-panel-toggle{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    color: white;
    background: var(--grey);
    border: none;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    cursor: pointer;
    margin-top: 10em;
    position: sticky;
    top: 10em;
}
.side-panel-toggle:hover{
    background: var(--dark-grey);
}

.sp-icon-open{
    display: none !important;
}
.side-panel{
    display: none;
    width: 25%;
    flex-shrink: 0;
    padding:20px;
    background: var(--light-grey);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.side-panel-open .side-panel {
    display: initial;
}
.side-panel-open .sp-icon-closed {
    display: none !important;
}
.side-panel-open .sp-icon-open {
    display: initial !important;
}