.width-container {
    width: 100%;
    max-width: 75rem;
    padding: 1.5rem;
    margin: 0 auto;
}
@media (max-width: 50rem) {
    .artsection {
        grid-template-columns: 1fr;
    }
    .side-panel {
      width: 75%;
    }
}
